# Created by .ignore support plugin (hsz.mobi)
Supprimerait .gitignore
Supprimerait .idea/compiler.xml
Supprimerait .idea/copyright/
Supprimerait .idea/misc.xml
Supprimerait .idea/modules.xml
Supprimerait .idea/refactor-me.iml
Supprimerait .idea/workspace.xml
